/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/notes
/bin
/code
/irclogs
/recipes
/src
/.CFUserTextEncoding
/.DS_Store
/.bash_history
/.bash_profile
/.ch-sheets/
/.gem
/.gem
/.gitconfig
/.irb-history
/.irssi/config
/.irssi/default.theme
/.lesshst
/.macports/history
/.monk
/.rcrc
/.rdebugrc
/.rdebug_hist
/.ri1.9
/.rvm
/.ssh
/.taskpaper
/.thor
/.vim/
/.viminfo
/.vimrc
